<!DOCTYPE html>
<html>
<head>
    <title>Certificate of Membership</title>
</head>
<body style="margin: 0; padding: 0; color: #333; font-family: Georgia, serif; font-size: 24px; text-align: center; width: 100%; height: 100vh; background-color: #f5f5f5; display: table;">

    <div style="border: 20px solid #d1b47a; width: 750px; height: 563px; display: table-cell; vertical-align: middle; background-color: #ffffff; margin: auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        
        <div style="color: #160d06; font-size: 38px; margin-bottom: 20px;">
            Government College of Engineering Kalahandi
        </div>

        <div style="color: #6d4c41; font-size: 48px; margin: 20px;">
            Certificate of Membership
        </div>

        <div style="color: #2d13d3; margin: 20px;">
            This certificate is presented to
        </div>

        <div style="font-size: 32px; font-style: italic; margin: 20px auto; width: 400px; color: #e1141b;">
            {{ member.name }} of {{ member.year }} year {{ member.branch }}
        </div>

        <div style="color: #333; margin: 20px;">
            For joining the Sakhyam Club
        </div>

        <div style="margin: 40px 0 20px 0; display: flex; justify-content: space-around;">
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="text-align: center; font-size: 28px; padding: 10px; color: #6d4c41;">
                        <div>
                            <br>
                            Ananta Nag<br>
                            Vice President, Sakhyam Club
                        </div>
                    </td>
                    <td style="text-align: center; font-size: 28px; padding: 10px; color: #6d4c41;">
                        <div>
                            <br>
                            JivanJyoti Satapathy<br>
                            President, Sakhyam Club
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>

</body>
</html>
